<a href="https://colab.research.google.com/github/Preciouss18/file/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
def sum(f1, f2, f3):
  result = 0
  for f in range(f1, f2, f3):
     result += f
     return result 

def main():
    print("Sum1", sum(2, 4, 6)) 
    print("Sum2", sum(20, 40, 60))
    print("Sum3", sum(200, 400,600))

main() # Call the main function

Sum1 2
Sum2 20
Sum3 200

In [2]:
def swap(l,v):
  l,v = v,l
  return (l,v)

if __name__ == '__main__':
    l = 18
    v = 88
    print('l = %d,v = %d' % (l,v))
    l,v = swap(l,v)
    print('l = %d,v = %d' % (l,v))

l = 18,v = 88
l = 88,v = 18

In [4]:
def sort(number33, number55):
    if number33 < number55:
        return number33, number55
    else:
        return number55, number33

num33, num55 = sort(40,45 )

print("num33 is", num33)
print("num55 is", num55)

num33 is 40
num55 is 45

In [3]:
def sort(number77, number88, number99):
    if (number77 < number88) and (number77 < number99):
      if number88 < number99:
        return number77, number88,number99
      else:
        return number77, number99,number88
    if (number88 < number77) and (number88 < number99):
      if number77 < number99:
        return number88, number77,number99
      else:
        return number88, number99,number77    
    if (number3 < number77) and (number99 < number88):
      if number77 < number88:
        return number99, number77,number88
      else:
        return number99, number88,number77 

num77, num88, num99  = sort(17,28,39)

print("num77 is", num77)
print("num88 is", num88)
print("num88 is", num99)

num77 is 17
num88 is 28
num88 is 39

In [5]:
def sort(number2, number4, number6):
    if number2 < number4 < number6:
        return number2, number4, number6
    else:
        return number6, number4, number2

num2, num4, num6 = sort(20, 40, 60)

print("num2 is", num2)
print("num4 is", num4)
print("num6 is", num6)

num2 is 20
num4 is 40
num6 is 60

In [25]:
#!/usr/bin/python 
# -*- coding: UTF-8 -*- 

def printArea(width = 11, height = 22):
    area = width * height
    print("width:", width, "\theight:", height, "\tarea:", area)

use default arguments

In [11]:
printArea()

width: 11 	height: 22 	area: 242

use Keyword arguments

In [13]:
printArea(width = 111, height = 222)

width: 111 	height: 222 	area: 24642

In [14]:
printArea(height = 222, width = 111)

width: 111 	height: 222 	area: 24642

use Positional arguments

In [15]:
printArea(110,90)

width: 110 	height: 90 	area: 9900

In [16]:
printArea(90,110)

width: 90 	height: 110 	area: 9900